.landing-slider{
    left: 0;
    right: 0;
    margin:0 auto;
    margin-top: 0.5em;
    padding: 5vh;
}

.landing-slider img{
    max-width:80vw;
    max-height:100vh;
    height:auto;
    width:auto;
}

.slide-animate{
    transition: opacity 2500ms

}

.slide-in{
    opacity: visible;
}

.slide-out{
    opacity: 0;
}